*{
    margin: 0;
    padding: 0;
}

/* Formulaire */ 

/* Background Formulaire */
.Background-Form{
    padding: 50px 0px;
    background-color: #EAE0D5;
}

.form-group{
    padding-bottom: 10px;
}

/* Titre*/
.Titre{
    padding: 20px;
    text-align: center;
}

/* Bouton Validation */
.btn{
    background-color: #D5AF64;
    color: white;
}


/* Fiche */

.Fiche{
    background-color: #EAE0D5;
    padding: 50px 0px;
}



.Background-Color-Fiche-Blanc{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

/* Image */

.Background-Color-Fiche-Image{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.Image-Fiche{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

/* Texte */

.Background-Color-Fiche-Texte{
    background-color: #C6AC8F;
    color: white;
    font-size: 20px;
}

/* Bouton Admin */

.Bouton-Admin-1{
    margin: 20px;
    color: white;
    background-color: #D5AF64;
}

.Bouton-Admin-2{
    margin: 20px;
    color: white;
    background-color: #5E503F;
}

/* Refuge */
.Refuge-1{
    margin-bottom: 20px;
}

.Background-Color-Refuge-Texte{
    background-color: #C6AC8F;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

/* Lien */

.a-Refuge{
    color: white;
    align-items: center;
}



